@import url('https://fonts.googleapis.com/css?family=Aldrich|Michroma|Prompt');

/*font-family: 'Prompt', sans-serif;
font-family: 'Aldrich', sans-serif;
font-family: 'Michroma', sans-serif;*/

#logo-container{
  font-color: black;

}
#logo-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  mix-blend-mode: multiply;
}

#logo-img{
  height: 50px;
  margin-left: 15px;
}

#about-link{
  color: black;
  margin-right: 15px;
}

#main-container{
  border-style: solid;
  border-width:1px;
  margin: 10px;
  border-color: #E0E0E0;
}

.header {
  /*font-family: 'Prompt', sans-serif;*/
  font-family: 'Aldrich', sans-serif;
  text-align: center;
  margin-bottom: 1rem!important;
/*font-family: 'Michroma', sans-serif;*/
}

#artists-border{
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-bottom-color: #E0E0E0;
}

.card .card-reveal {
 padding: 24px !important;
    position: absolute !important;
    background-color: #E32526 !important;
    width: 100% !important;
    overflow-y: 100;
    left: 2% !important;
    top: 170% !important;
    height: 350px !important;
    z-index: 5! important;
}

.card .card-content .card-title {
line-height: 15px !important;
margin-bottom: 0px !important;
font-size: 12px !important;
font-weight: 400!important;
}

.card .card-content {
  padding: 8px;
  
}

.material-icons {
font-size: 12px!important;

}

#artistImagesDiv {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}

.cardImages {
  padding: 15px;
}

.flexcontainer {
    display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-content: center;
}

#artist {
  overflow: visible !important;
}

.artist {
  font-size: 11px !important;
  border-style: solid;
  border-width:1px;
  margin: 5px;
  margin-top: 0px!important;
  margin-left: 0px!important;
  border-color: #E0E0E0;
  width: 49%;
}

*, *:before, *:after {
    box-sizing: border-box;
}
